$iw-color: rgba(38, 134, 116, 1);
$iw-highlight: #55BDA8;
$neutral-color: #CCC;
$neutral-highlight: #EEE;
$padding: 10px;
$large-padding: 30px;
$warning-color: #FFF4B5;
$error-color: #FF7070;
$success-color: #BEFFA8;
$dark-text: black;
$light-text: white;
$featured-height: 300px;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
}

input[type=text],
input[type=search] {
    border: solid 1px $neutral-color;
    line-height: 2em;
}

.navbar-default {
    background: $iw-color;
    border: none;
    border-bottom: solid 1px #1e5e51;
    border-radius: 0;

    .navbar-brand {
        color: white;

        img {
            height: 60px;
            border: none;
            display: block;
        }

        span {
            display: none;
        }
    }

    ul.navbar-nav {
        li {
            line-height: 100px;

            &.active a {
                background-color: $iw-highlight;
                color: $dark-text;

                &:hover {
                    background-color: $iw-highlight;
                    color: $dark-text;
                }
            }

            a {
                display: inline-block;
                color: $light-text;
            
                &:hover {
                    background-color: $iw-highlight;
                }
            }
        }
    }
}

input[type=submit],
.button{
    background: $neutral-color;
    border: none;
    color: black;
    display: inline-block;
    padding: 10px;

    &:hover {
        background: $neutral-highlight;
    }

    &.special {
        background: $iw-color;
        color: $light-text;
        
        &:hover {
            background: $iw-highlight;
        }
    }
}

.spaced > * {
    margin-bottom: 20px;
}

.not-spaced {
    margin-bottom: 0 !important;
}

img {
    border: solid 2px $neutral-color;
}

h4 {
    font-weight: bolder;
}

.inner-container {
    background: #EEE;
    border: solid 1px #CCC;
    padding: $padding;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
    margin-top: 0px;
}

.message {
    padding: $padding;
    position: relative;
    height: 60px;

    &.warning {
        background: $warning-color;
    }

    &.error {
        background: $error-color;
    }

    &.success {
        background: $success-color;
    }

    * {
        display: inline-block;
        margin-right: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    img {
        position: relative;
        border: none;
        height: 40px;
    }
}

.menu {
    input {
        width: 100%;
    }

    ul {
        padding: 0 10px;
        list-style-type: none;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px) {
    .navbar-default {
        .navbar-brand {
            img {
                display: none;
            }

            span {
                display: block;
            }
        }

        .navbar-toggle {

            &:hover,
            &:focus {
                background-color: $iw-highlight;
            }

            span.icon-bar {
                background-color: white;
            }
        }

        ul.navbar-nav {
            li {
                line-height: 20px;
                
                a {
                    width: 100%;
                }
            }
        }
    }
}

.grid-item {
    text-align: center;
    height: 230px;
    margin-bottom: 20px; 

    .grid-image {
        width: 100%;
        height: 150px;
        display: inline-block;

        div {
            width: 100%;
            height: 100%;
            background: url(../Images/az1.jpg);
        }
    }
}

.news-flash {
    height: $featured-height;
    
}

.events,
.contacts {
    height: $featured-height;
    padding: $padding;
    overflow-y: scroll;
    overflow-x: hidden;
    

    ul {
        list-style: none;
        padding: 0;

        li {
            clear: left;
            position: relative;

            &.header {
                font-weight: bolder;
                margin-top: 10px;
            }

            img {
                width: 64px;
                height: 64px;
                float: left;
            }
            h5 {
                line-height: 64px;
                text-indent: 10px;
            }
        }
    }
}

.map {
    height: $featured-height;
    padding: 0 14px;

    .map-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        padding: $padding;
        border-right: solid 1px #CCC;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .map-view {
        height: 100%;
        padding: 1px 0 0 0;

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}

.separator {
    border-top: solid 1px $neutral-color;
    padding-top: $large-padding;
    margin-top: $large-padding;
}