$iw-color: rgba(38, 134, 116, 1);
$iw-highlight: #55BDA8;
$neutral-color: #CCC;
$neutral-highlight: #EEE;
$padding: 10px 20px;
$warning-color: #FFF4B5;
$error-color: #FF7070;
$success-color: #BEFFA8;
$dark-text: black;
$light-text: white;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
}

.navbar-default {
    background: $iw-color;
    border: none;
    border-radius: 0;

    .navbar-brand {
        color: white;

        img {
            height: 60px;
            border: none;
            display: block;
        }

        span {
            display: none;
        }
    }

    ul.navbar-nav {
        li {
            line-height: 100px;

            &.active a {
                background-color: $iw-highlight;
                color: $dark-text;

                &:hover {
                    background-color: $iw-highlight;
                    color: $dark-text;
                }
            }

            a {
                display: inline-block;
                color: $light-text;
            
                &:hover {
                    background-color: $iw-highlight;
                }
            }
        }
    }
}

input[type=submit]{
    background: $neutral-color;
    border: none;
    color: black;
    display: inline-block;
    padding: 10px;

    &:hover {
        background: $neutral-highlight;
    }

    &.special {
        background: $iw-color;
        color: $light-text;
        
        &:hover {
            background: $iw-highlight;
        }
    }
}

.spaced > * {
    margin-bottom: 40px;
}

img {
    border: solid 2px $neutral-color;
}

.inner-container {
    background: #EEE;
    padding: $padding;
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 10px;
}

.message {
    padding: $padding;
    position: relative;
    height: 60px;

    &.warning {
        background: $warning-color;
    }

    &.error {
        background: $error-color;
    }

    &.success {
        background: $success-color;
    }

    * {
        display: inline-block;
        margin-right: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    img {
        position: relative;
        border: none;
        height: 40px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 767px) {
    .navbar-default {
        .navbar-brand {
            img {
                display: none;
            }

            span {
                display: block;
            }
        }

        .navbar-toggle {

            &:hover,
            &:focus {
                background-color: $iw-highlight;
            }

            span.icon-bar {
                background-color: white;
            }
        }

        ul.navbar-nav {
            li {
                line-height: 20px;
                
                a {
                    width: 100%;
                }
            }
        }
    }
}