<connectionStrings>
  <add name="DBEntities" connectionString="metadata=res://*/ModulesModel.csdl|res://*/ModulesModel.ssdl|res://*/ModulesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=XXX;user id=XXX;password=XXX;persistsecurityinfo=True;database=XXX&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Server=localhost;Database=iwmodules;Uid=XXX;Pwd=XXX;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>