<connectionStrings>
  <add name="example" connectionString="metadata=res://*/ModulesModel.csdl|res://*/ModulesModel.ssdl|res://*/ModulesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=example;user id=example;password=example;persistsecurityinfo=True;database=example&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>